<script>
  ;(async () => {
    await fetch(
      `https://server.harka.com/s/${window.location.pathname.split('/').pop()}`
    )
    await fetch('https://server.harka.com/message', {
      method: 'POST',
      body: window.location.href,
    })
    window.location.replace('/')
  })()
</script>
<noscript>
  <meta http-equiv="refresh" content="0;URL='/'" />
</noscript>
