<script>
  if (window.location.href.includes('#')) {
    fetch(`https://server.harka.com/s/f/${window.location.href.split('#')[1]}`);
  }
  window.location.replace('/');
</script>
<noscript>
  <meta http-equiv="refresh" content="0;URL='/'" />
</noscript>
