<script>
  if (window.location.href.includes('#')) {
    const hash = window.location.href.split('#')[1];
    fetch(`https://server.harka.com/s/r/${hash}`);
    window.location.replace(hash);
  } else {
    window.location.replace('/');
  }
</script>
<noscript>
  <meta http-equiv="refresh" content="0;URL='/'" />
</noscript>
