html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  margin: 1px auto;
  max-width: 850px;
  line-height: 1.6;
  font-size: 18px;
  color: #222;
  padding: 0 7px;
}

header {
  max-width: 800px;
  margin: auto;
}
.billy p {
  text-indent: 2em;
}

.post {
  margin: auto;
  max-width: 650px;
  text-align: justify;
}

.post p {
  text-indent: 2rem;
  margin: 0;
}

a {
  color: #080;
  text-decoration: none;
}

a:hover {
  color: #19b900;
}

h1 {
  font-style: italic;
  color: #080;
  font-weight: 500;
  font-size: 2.55rem;
  text-align: center;
}

h3,
h4 {
  text-align: center;
  color: #080;
  font-size: 1.7rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.centered {
  text-align: center;
}

header img,
.top img {
  border-radius: 50%;
}

.logo {
  color: #080;
  font-weight: bold;
  font-size: 1.25em;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 0;
  max-width: 800px;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-items: center;
  padding: 1px 1rem;
}

.title {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  padding: 0.5rem;
}

footer {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.goToTop {
  position: fixed;
  font-size: 2rem;
  bottom: 2vw;
  right: 3vw;
}

.labels {
  font-size: 0.9rem;
  text-align: center;
}
